*{
    margin: 0;
    padding: 0;
}
.nav{
    width: 100%;
}
.nav td{
    width: 50%;
}
.list{
    text-align: right;
    padding-right: 5%;
    color: #00ffe8;
    cursor: pointer;
}
.intro{
    width: 60%;
    left: 50%;
    margin-left: 20%;
    top: 50%;
    margin-top: 5%;
    font-family: 'Baloo Tamma 2', cursive;
    color: #150052;
    line-height: 69px;

}
.intro img{
    animation: shadow 5000 ease-in-out infinite;
    width: 500px;
    z-index: 9999;
    float: left;
    margin-top: -26%;
    background-color: white;
    margin-left: 1%;
    box-shadow: 3px 1px 8px #7070db;
}
@keyframes shadow{
    0%{box-shadow: 3px 1px 8px #7070db;}
    50%{box-shadow: -3px 1px 8px #7070db;}
    100%{box-shadow: 3px 1px 8px #7070db;}
}
.intro h1{
    font-size: 57px;
    margin-left: 66%;
}
.intro p{
    background-color: #00ffe8;
    height: 12vh;
    padding-left: 80%;
    color: #333;

}
.my-services{
    width:100%;
    background-color: #222;
    margin-top: 14%;
    height: 130vh;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(0, 0, 0, 68%);
    background-image: url('bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.my-services h2{
    margin-left: 38%;
    text-decoration: bold;
    color:  #0066ff;
    font-size: 36px;
    border-bottom: 1px solid #aaa;
    width: 20%;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 5%;
    margin-bottom: 2%;
}
.services{
    display: flex;
    width: 75%;
    margin-left: 11.5%;
    color: #eee;

    text-align: center;
    line-height: 38px;
}
.service{
    margin: 1%
}
.service h3{
    text-decoration: bold;
    margin: 2%;
    font-size: 25px;
}
.btnn{
    display: inline-block;
    padding: .5em 2.5em;
    background: #0066ff;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: all 600ms ease-in-out;
    margin-left: 45%;
}

.about-me{
    width: 70%;
    right: 50%;
    margin-left: 15%;
    top: 50%;
    margin-top: 5%;
    font-family: 'Baloo Tamma 2', cursive;
    color: #150052;
    line-height: 69px;

}
.about-me img{
    box-shadow: 3px 1px 8px #7070db;
    width: 500px;
    z-index: 9999;
    float: right;
    margin-top: -24%;
    background-color: white;
    margin-right: 1%;
    margin-bottom: 2%;
}
.about-me h1{
    font-size: 57px;
    margin-right: 66%;
}
.about-me .subtitle{
    background-color: #00ffe8;
    font-size: 17px;
    padding-right: 80%;
    color: #333;
    padding: 0.1%;
    padding-left: 2%;
}
.paragraph{
    width: 78%;
    line-height: 34px;
    color: #111;
    font-size: 20px;
    margi-top: 4%;
    font-family: 'Montserrat', sans-serif;
}
.work-title{
    margin-left: 38%;
    text-decoration: bold;
    color:  #fff;
    font-size: 59px;

    width: 20%;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 5%;

    font-family: 'Open Sans', sans-serif;
}
.my-work{
    background-color: rgb(0, 0, 0, 80%);
    margin-top: 4%;
    text-align: center;
    padding-bottom: 5%;
}
.my-work .subtitle{
    color:  #0066ff;
    font-family: 'Montserrat', sans-serif;
    margin-right: 2%;
    font-size: 26px;
    letter-spacing: -2px;
    word-spacing: 3px;
}
.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
    max-width: 960px;
    margin-left: 14%;
    margin-top: 5%;
}
.portfolio-img{
    overflow: hidden;
    width: 360px;
    height: 300px;
    background-color: rgba(0, 128, 255,1);
}
.portfolio img {
    transition: transform 400ms cubic-bezier(.5 , 0, .5 , 1), opacity 250ms linear;
    display:  block;
    max-width: 100%;
    cursor: pointer;
}
.portfolio img:hover{
    transform:scale(1.1);
    z-index: 3;
}
.fixed-menu{
    background-color: rgb(0, 0, 0, 95%);
    color: #fff;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999999;
    top: 0;
    display: none;
}
.menu-item{
    text-align: center;
    font-size: 60px;
    padding-bottom: 7%;
    width: 30%;
    margin: 0 auto;
}

.menu-item a{
    margin-top: 7%;
    text-transform: capitalize;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
}
.list-close{
    margin-top: 4.5%;
    text-align: right;
    padding-right: 5.5%;
    color: #00ffe8;
    cursor: pointer;
}
